---
import Layout from '../layouts/Layout.astro'
import { surveyQuestions } from '../data/qunstions'
import type { Question } from '../@types/Question'
---

<Layout title="แบบสำรวจของประทาน">
  <div class="container mt-5">
    <h1 class="mb-4"></h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ลำดับ</th>
          <th scope="col">คำถามสำรวจของประทาน</th>
          <th scope="col">มาก 3</th>
          <th scope="col">บ้าง 2</th>
          <th scope="col">น้อย 1</th>
          <th scope="col">ไม่มี 0</th>
        </tr>
      </thead>
      <tbody>
        {
          surveyQuestions.map((item: Question) => (
            <tr>
              <th scope="row">{item.index}</th>
              <td>{item.question}</td>
              <td>
                <input type="radio" name={`q${item.index}`} value="3" />
              </td>
              <td>
                <input type="radio" name={`q${item.index}`} value="2" />
              </td>
              <td>
                <input type="radio" name={`q${item.index}`} value="1" />
              </td>
              <td>
                <input type="radio" name={`q${item.index}`} value="0" />
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</Layout>
